.title-container {
  background-color: goldenrod;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 450px) {
  .title-container {
    .title {
      width: 80%;
      margin: 20px auto;
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 350px) {
  .title-container {
    .title {
      font-size: 35px;
    }
  }
}
