.title-container {
  background-color: goldenrod;
  text-align: center;
  height: 75px;

  .title {
    padding-top: 18px;
  }
}

@media screen and (max-width: 450px) {
  .title-container {
    .title {
      padding-top: unset;
      width: 350px;
      margin: 20px auto;
    }
  }
}
